$primary-color: #0D6EFD;
$darker-bg: #0A092D;

* {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: Poppins, sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

body {
}

.bs-icon {
  font-size: 2rem;
  background-color: $primary-color;
  color: #fff;
  border-radius: 20%;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card-body {
  text-align: center;
}

.hero {
  background-image: url('../imgs/background.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.btn-lg {
  padding: 1rem 2rem;
  font-size: 2rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: $darker-bg;
}

.login {
 @extend .features;
}


.register {
 @extend .features;
}

.register .card {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
  margin: 2rem 0;
}

.register .card-body {
  margin: 1.5rem;
}

.register form .mb-3 {
  margin-bottom: 1.5rem !important;
}

.register .d-grid {
  margin-top: 2rem;
}

.btn-primary {
transition: transform 15s ease-in-out;
  transform-origin: left;
}

.btn-primary:hover {
  transform: scale(1.1);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}




  .btn-primary {
    transform-origin: center !important;
  }

    .about {
    margin: 2rem 1rem;
  }

  .features .card {
    margin: 1rem 0;
  }


@media (max-width: 468px) {
  .row-cols-2,
  .row-cols-md-4 {
    display: grid !important;
    grid-template-columns: 1fr !important;
    justify-items: center;
  }
}

@import '../node_modules/bootstrap/scss/bootstrap';